# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ocp-react/CopilotIndices/17.13.196.30798/CodeChunks.db
.vs/ocp-react/CopilotIndices/17.13.196.30798/CodeChunks.db-shm
.vs/ocp-react/CopilotIndices/17.13.196.30798/CodeChunks.db-wal
.vs/ocp-react/CopilotIndices/17.13.196.30798/SemanticSymbols.db
.vs/ocp-react/CopilotIndices/17.13.196.30798/SemanticSymbols.db-shm
.vs/ocp-react/CopilotIndices/17.13.196.30798/SemanticSymbols.db-wal
.vs/ocp-react/FileContentIndex/db0d5443-5a31-42db-bc2a-36d52ccfd760.vsidx
/.vs/ocp-react/FileContentIndex
