.blogPost {
  padding-top: 20px;
}

.blogPost h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.blogPost p {
  font-size: 1.25rem;
  line-height: 1.6;
}

.blogPost .text-muted {
  font-size: 0.875rem;
}
