.logo {
  height: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-nav .nav-item .dropdown-menu {
  background-color: #343a40;
  border: none;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: white;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #495057;
}

.dropdown-small .dropdown-menu {
  width: 100px !important; /* Adjust this value as needed */
}

.container-100{
  width: 100px;
}