/* Home Component Styles */
.hero-section {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 50px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000000; /* Black text color */
  word-wrap: break-word;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #000000; /* Black text color */
  word-wrap: break-word;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.skill-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.skill-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000000; /* Black text color */
}

.skill-box ul {
  list-style-type: none;
  padding: 0;
}

.cv-download-container {
  display: flex;
  align-items: center;
}

.cv-download-container .form-control {
  flex: 1;
  margin-right: 10px; /* Adjust the spacing as needed */
}

.cv-download-container .cv-download-link {
  margin-top: 0; /* Ensure there's no top margin on the link */
}

.skill-box ul li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .skill-box {
    width: calc(50% - 20px);
  }
}


@media (max-width: 480px) {
  .skill-box {
    width: calc(100% - 20px);
  }
}