/* Reset and General Styles */
body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* Updated font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF; /* Secondary Color */
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar Styles */
.navbar {
  background-color: #001F3F; /* Primary Color */
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  flex-wrap: wrap; /* Allow wrapping on small screens */
}

.navbar-brand img {
  height: 60px; /* Increased logo size */
}

.navbar-nav .nav-link {
  color: #fff; /* Secondary Color */
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #F2F2F2; /* Accent Color */
}

/* Button Styles */
.btn {
  background-color: #0041C4; /* Accent Color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #001F3F; /* Primary Color */
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 40px; /* Smaller logo size for small screens */
  }

  .btn {
    padding: 8px 16px;
  }

  .container {
    padding: 10px;
  }
}